@import '~antd/dist/antd.css';

body {
  margin: 0;
  padding: 0;
}

.spinner-container {
  background-color: rgba(0, 0, 0, 0.2);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  text-align: center;
  padding-top: 25%;
}

.issue-title a {
  font-weight: 500;
  color: #000;
}

.issue-title a:hover{
  color: #1890ff;
}

.pagination-wrapper {
  text-align: center;
  padding: 20px;
}

span.comments-count {
  position: relative;
  top: -4px;
}

.header-meta {
  margin-bottom: 15px;
  padding-bottom: 20px;
}

.header-number {
  font-weight: 300;
  color: #a3aab1;
  letter-spacing: -1px;
}

.comment-meta {
  font-weight: 300;
}

.issue-detail-page .ant-card {
  margin-bottom: 20px;
}

@media (min-width: 768px) {
  main {
    width: 980px;
    margin-right: auto;
    margin-left: auto;
  }
}

@media (max-width: 768px) {
  
}